@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif:ital,wght@1,700&family=Roboto:wght@400;500;700;900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

body {
  font-family: 'Tiro Devanagari Marathi', serif;
  color: rgba(28, 4, 64, 0.697);
}

a {
  text-decoration: none;
}

li::first-letter {
  text-transform: capitalize;
}

#background-img {
  position: fixed;
  right: 0px;
  top: 0px;
  max-width: 100%;
  min-height: 100%;
  z-index: -5;
  opacity: 0.60;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.weather-app-wrapper {
  max-width: 55%;
  margin: 0 auto;
}

.weather-app {
  /* background-color: rgba(249, 216, 239, 0.935); */
  background: linear-gradient(rgba(254, 222, 254, 0.675), rgba(255, 255, 255, 0.791) 90%);
  margin: 60px auto 15px;
  padding: 20px;
  z-index: 5;
  box-shadow: 5px 5px 10px rgba(72, 72, 72, 0.343);
}

.weather-details,
.weather-description {
  font-size: 14px;
}

.date-now {
  font-family: 'Noto Serif', serif;
  font-size: 16px;
  font-weight: 600;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.date-now {
  color: rgba(66, 19, 113, 0.701);
  font-size: 14px;
}

.weather-details-list {
  color: rgba(28, 5, 52, 0.568);
}

.weather-temperature .active:hover {
  text-align: none;
}

.degrees {
  font-size: 59px;
}

.units {
  position: relative;
  top: -25px;
}

.weather-elements {
  background: linear-gradient(rgba(251, 251, 251, 0.502), rgba(142, 117, 211, 0.816));
  box-shadow: 3px 5px 5px rgba(72, 72, 72, 0.187);
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temperature-min {
  color: rgba(255, 255, 255, 0.613);
}